@model UserRegistration.Models.Users.UserIndexViewModel

<table class="table" id="userTable">
    <thead>
        <tr>
            <th>actions</th>
            <th>User name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td></td>
                <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                <td>@Html.DisplayFor(modelItem => user.Email)</td>
            </tr>
        }
    </tbody>
</table>