@model UserRegistration.Models.Users.UserIndexViewModel

<table class="table" id="products">
    <tr>
        <th>actions</th>
        <th>User name</th>
        <th>Email</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td></td>
            <td>@Html.DisplayFor(modelItem => user.UserName)</td>
            <td>@Html.DisplayFor(modelItem => user.Email)</td>
        </tr>
    }
</table>
